# 让Git显示颜色
git config --global color.ui true

# 强制添加被.gitignore忽略的文件
git add -f App.class

# 检查.gitignore错误规则
git check-ignore -v App.class

# 设置简写别名，--global参数是全局参数
git config --global alias.st status
git config --global alias.co checkout
git config --global alias.ci commit
git config --global alias.br branch
git config --global alias.unstage 'reset HEAD'
git config --global alias.last 'log -1'
git config --global alias.lg "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
