h1 {
    color: #4791ff;
}
textarea {
    width: 1200px;
    height: 180px;
    text-align: center;
}
input {
    width: 80px;
    height: 20px;
}
.click {
    width: 50px;
    height: 30px;
}
.center {
    text-align: center;
}